@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*::-webkit-scrollbar {
  display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  @apply outline-0;
}

@theme {
  
  --breakpoint-4k: 240rem;
  --animate-fade-In: fadeIn 1s;
  @keyframes fadeIn{
    0% {
      position: absolute;
      opacity: 0;
    }
    100% {
      position: fixed;
      opacity: 1;

    }
    
  }
  
  --animate-fade-Out: fadeOut 1s ease-out forwards;
  @keyframes fadeOut{
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: hidden;
    }
    
  }
}


.btn-hover {
  @apply bg-indigo-500 hover:bg-indigo-600 cursor-pointer text-white font-bold;
}
.btn-wrap {
  @apply px-3 py-1 rounded-xl;
}